# Ignore dependencies
node_modules/

# Ignore all environment files
.env
.env.*

# Ignore Firebase credentials
firebase/firebaseServiceAccount.json.json

# Ignore other potential sensitive config files
*.key
*.pem
*.crt

